
body {
    background-color: rgb(127, 193, 231);
    font-size: 100%;
}
    
#content {
    max-width: 1600px;
    margin: 0 auto;
}


img {
    max-width: 100%;
}

#hero-img {
    width: 500px;
    height: auto
}

home-title 


h1 {
    font-size: 4em;
    color: rgb(0, 0, 0);
}


h2 {
    font-size: 3em;
    color: rgb(0, 0, 0);
}

#background {
    height: 725px;
}

body {
    background-color: #82c7f5; 
}
header {
    background-color:rgba(127, 230, 238, 0.7);
}
nav a:hover {
    background-color: rgb(122, 221, 228);
}
nav a:hover {
    background-color: rgb(122, 213, 236);
    color: #6ec2e4;
}    

.icon {
    width: 80px;
}
    

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }

  body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
       



