@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');


:root {

  --primary-color: #dbb7cb;
  --secondary-color: #d8a0cf;
  --accent1-color: #e686aa;
  --accent2-color: rgb(231, 177, 177); 

 
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif; 


  --headline-color-on-white: #8cb1cc;  
  --headline-color-on-color: white;
  --paragraph-color-on-white: #8db9d8; 
  --paragraph-color-on-color: rgb(0, 1, 12); 
  --paragraph-background-color: #e9a9cc  ;
  --nav-link-color: #00080e;
  --nav-background-color: #e9a9cc;
  --nav-hover-link-color: rgb(4, 0, 5);
  --nav-hover-background-color: #90c5f1;
}

header {
  background-color: #e9a9cc;
}

header img {
  width: 7em;
  height: 7em;
  float: left;
}

h1 {
  text-align: center;
  float: right;
  margin: right;
  padding: 1% 30%;
  color: white;
}

nav {
  text-align: center;
}

nav a {
  padding: 8%;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

main div {
  width: 25%;
  display: inline-block;
  padding: 2.5em;
}

main div p {
  vertical-align: top;
}

footer div {
  width: 25%;
  display: inline-block;
  padding: 2.5em;
}

.columntwo {
  width: 40%;
  display: inline-block;
  padding: 3%;
}

main div img {
  width:60%
}